﻿@import url("https://fonts.googleapis.com/css?family=Caveat|Mali");

/*:root 
{
    --mainDark: #242325;
    --mainGreen: #61e786;
    --mainWhite: #fff;
    --mainGrey: #eeeeee;
    --mainYellow: #fdbe02;
    --mainWhite: #fff;
    --mainBlack: #071013;
    --mainGrey: #9b9999;
    --TransGrey: rgba(0, 0, 0, 0.1);
}*/
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    margin-top: 70px; /* must match positive px of padding-top */
    /*padding-top: 60px;*/
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
    font-family: "Mali", cursive;
    /*margin-bottom: 60px;*/
    margin: 0 0 0 0 70px;
}

html {
    position: relative;
    min-height: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 120px;
    margin-bottom: 60px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.hover_effect:hover {
    background: var(--mainDark);
    color: var(--mainWhite);
}

.footer {
    background: var(--mainGrey);
    position: absolute;
    left: 0;
    /*bottom: 0;*/
    width: 100%;
    height: 150px;
    bottom: -8px;
    left: 0px;
    overflow: hidden;
}
.footer-icon {
    color: var(--mainYellow);
}

    .footer-icon:hover {
        color: var(--mainWhite);
    }

.text-green {
    color: var(--mainGreen);
}

.text-slant {
    font-family: "Caveat", cursive;
}

.green__btn {
    color: var(--mainGreen);
    border: 0.1rem solid var(--mainGreen);
    background: transparent;
}

    .green__btn:hover {
        background: var(--mainGreen);
        color: var(--mainWhite);
    }

/*.title-underline {
    width: 12rem;
    height: 0.3rem;
    margin: 0 auto;
    position: relative;
    border-radius: 2rem;
}*/

/*.title-underline__center {
    position: absolute;
    height: 0.6rem;
    background: var(--mainGreen);
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}*/

.alignleft {
    float: left;
}

.alignright {
    float: right;
}


.item-container {
    position: relative;
    overflow: hidden;
    /*background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));*/
    transition: all 2s ease;
}

.item-img {
    transition: all 2s ease-in-out;
}

/*.item-container:hover .item-img {
    transform: scale(1.2);
    opacity: 0.5;
}*/

.item-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D3325F;
    font-size: 2rem;
    border-top: 3px solid #D3325F;
    border-bottom: 3px solid #D3325F;
    transition: 2s all ease-in-out;
    opacity: 0;
}

.item-container:hover .item-link {
    opacity: 1;
}

/*.item-link:hover {
    color: #C9C1AC;
    border: 3px solid #C9C1AC;
    background: #C9C1AC;
    color: #242424;
}*/

.item-container:hover {
    outline: 3px solid #0000ff; /*#D3325F*/
    outline-offset: 0.8rem;
}

/*###################menu##############*/

/*#menu {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/banner-bcg.jpeg)center/cover fixed no-repeat;
}*/


/*.about-pictures {
    position: relative !important;
}

.about-image {
    position: absolute;
    width: 150px;
    transition: all 2s ease;
    opacity: 0.9;
}

.img-1 {
    left: 0%;
    top: 0%;
}

.img-2 {
    left: 20%;
    top: 20%;
    z-index: 10;
}

.img-3 {
    left: 40%;
    top: 45%;
    z-index: 20;
}

.img-4 {
    left: 40%;
    top: 0%;
}

.img-5 {
    left: 0%;
    top: 45%;
}*/


/*.about-image:hover {
    outline: 10px solid #D3325F;
    outline-offset: 0.8rem;
    transform: scale(1.3) rotate(20deg);
    z-index: 30;
    opacity: 1;
}

.about-pictures:hover .about-image:not(:hover) {
    opacity: 0.5;
}*/

/*reviews*/

/*.review-item {
    background: rgba(255, 255, 255, 0.7);
    clip-path: polygon(5% 0, 100% 0, 90% 100%, 0 100%);
}

.review-img {
    width: 150px;
}



.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: var(--mainDark);
}

    .social_icon span:hover {
        color: #C9C1AC;
        cursor: pointer;
    }

.card-header h3 {
    color: var(--mainDark);
}*/

/*.social_icon {
    position: absolute;
    right: 5px;
    top: -15px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #C9C1AC;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}*/

/*.remember {
    color: var(--mainDark);
}

    .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

.login_btn {
    color: black;
    background-color: #C9C1AC;
    width: 100px;
}

    .login_btn:hover {
        color: #C9C1AC;
        background-color: var(--mainDark);
    }

.links {
    color: var(--mainDark);
    
}*/

    /*.links a {
        margin-left: 4px;
    }*/
.stylepic {
    max-height: 14vw;
    min-height: 14vw;
    max-width: 18vw;
    min-width: 18vw;
}