﻿@model HairExpress.Models.SpecialOffer
@{
    ViewData["Title"] = "Details";
}

<br />
<h2 class="text-info">Special Offer Details</h2>

<div class="p-4 border rounded">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Name"></label>
        </div>
        <div class="col-5">
            <input asp-for="Name" disabled class="form-control" />
        </div>
    </div>
    <br />
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary alignleft">Edit</a>
        <a asp-action="Index" class="btn btn-success alignright">Back to List</a>
    </div>
</div>

