﻿@model IEnumerable<HairExpress.Models.SpecialOffer>
@{
    ViewData["Title"] = "Index";
}

<br /><br />

<div class="row">
    <div class="col-lg-4 col-md-8 col-sm-8  mr-auto px-3 text-center my-3">
        <h2 class="text-info"> Special Offer List</h2>
    </div>
    <div class="col-lg-8 col-md-4 col-sm-4 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Special Offer</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th></th>
            <th>
                Actions
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
            </tr>

        }
    </table>
</div>

