﻿@using HairExpress.Extensions
@model HairExpress.Models.ViewModel.ProductsViewModel
@{
    ViewData["Title"] = "Create";
}

<br />
<br />
<h2 class="text-info">Create Hair Style</h2>

<form method="post" asp-action="Create">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label asp-for="Products.Name"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Products.Name" class="form-control" />
            </div>
            <span asp-validation-for="Products.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label asp-for="Products.Price"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Products.Price" class="form-control" />
            </div>
            <span asp-validation-for="Products.Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label asp-for="Products.Image"></label>
            </div>
            <div class="col-sm-10">
                <input type="file" name="files" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label asp-for="HairTypes"></label>
            </div>
            <div class="col-sm-10">
                <select asp-for="@Model.Products.HairTypeId" asp-items="Model.HairTypes.ToSelectListItem(Model.Products.HairTypeId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label asp-for="SpecialOffers"></label>
            </div>
            <div class="col-sm-10">
                <select asp-for="@Model.Products.SpecialOfferId" asp-items="Model.SpecialOffers.ToSelectListItem(Model.Products.SpecialOfferId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label asp-for="Products.ShadeColor"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Products.ShadeColor" class="form-control" />
            </div>
            <span asp-validation-for="Products.ShadeColor" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <label asp-for="Products.Available"></label>
            </div>
            <div class="col-6">
                <input type="checkbox" asp-for="Products.Available" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary alignleft" value="Create" />
            <a asp-action="Index" class="btn btn-success alignright">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

