﻿@model HairExpress.Models.ViewModel.ProductsViewModel
@using HairExpress.Extensions
<br />
<h2 class="text-info">Hair Style Details</h2>
<div class="p-3 border rounded row ">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label asp-for="Products.Name"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Products.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label asp-for="Products.Price"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Products.Price" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label asp-for="HairTypes"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Products.HairTypes.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label asp-for="SpecialOffers"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Products.SpecialOffers.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label asp-for="Products.ShadeColor"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Products.ShadeColor" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <label asp-for="Products.Available"></label>
            </div>
            <div class="col-6">
                <input type="checkbox" readonly class="form-control" asp-for="Products.Available" />
            </div>
        </div>
    </div>
    <div class="col-1">
    </div>
    <div class="col-sm-2 col-form-label ">
        @*<img src="@Model.Products.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />*@
        <img src="@Model.Products.Image" style=" border: 1px solid blue;width:100%;height:200px" />
    </div>

    <br />
    <div class="form-group ">

        <a asp-action="Edit" asp-route-id="@Model.Products.Id" class="btn btn-primary alignleft">Edit</a>
        <a asp-action="Index" class="btn btn-success alignright">Back to List</a>

    </div>
</div>

