﻿@model IEnumerable<HairExpress.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<br /><br />

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 ">
        <h2 class="text-info"> List of Hair Styles</h2>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 text-right ">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Product</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Price)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Available)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.HairTypes)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.SpecialOffers)
            </th>
            <th></th>
            <th>
                Actions
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Available)
                </td>
                <td>
                    @Html.DisplayFor(m => item.HairTypes.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.SpecialOffers.Name)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
            </tr>

        }
    </table>
</div>

