﻿@using Microsoft.AspNetCore.Http
@using HairExpress.Extensions
@using HairExpress.Utility
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HairExpress</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/jquery.timepicker.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/jquery.timepicker.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/logo.PNG" width="50px" height="40px" alt="company logo" /> Classic Barbers</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">MY NAME</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                @if (User.IsInRole(SD.SuperAdminEndUser))
                {
                    <li class="nav-item "><a class="nav-link text-white hover_effect" asp-area="Admin" asp-controller="HairTypes" asp-action="Index">Hair Types</a></li>
                    <li class="nav-item "><a class="nav-link text-white hover_effect" asp-area="Admin" asp-controller="SpecialOffers" asp-action="Index">Special Offers</a></li>
                    <li class="nav-item "><a class="nav-link text-white hover_effect" asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a></li>
                    <li class="nav-item "><a class="nav-link text-white hover_effect" asp-area="Admin" asp-controller="AdminUsers" asp-action="Index">Admin Users</a></li>
                }
                @if (User.IsInRole(SD.SuperAdminEndUser) || User.IsInRole(SD.AdminEndUser))
                {
                    <li class="nav-item"><a class="nav-link text-white hover_effect" asp-area="Admin" asp-controller="Appointments" asp-action="Index">Appointments</a></li>
                }

                    @if (HttpContextAccessor.HttpContext.Session.Get<List<Guid>>("ssShoppingCart") != null)
                    {
                        <li style="color:white">
                            <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                <i class="fas fa-shopping-cart"></i> &nbsp;
                                @{
                                    var count = HttpContextAccessor.HttpContext.Session.Get<List<Guid>>("ssShoppingCart").Count;
                                }
                                (@count)
                            </a>
                        </li>

                    }
                    else
                    {
                        <li style="color:white">
                            <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                <i class="fas fa-shopping-cart"></i> &nbsp;

                                (0)
                            </a>
                        </li>

                    }




                </ul>

            <ul class="nav justify-content-end">
                <li class="nav-item" style="top: 17.5em;">
                    <partial name="_LoginPartial" />
                </li>
            </ul>
        </div>
    </nav>


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="footer container-fluid ">
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year <img src="~/images/logo.png" width="50px" height="40px" id="logo-footer" />Classic Beautifier</p>*@
            <!-- Footer Links -->
            <!-- Footer Links -->
            <div class="footer-contact mt-5 d-flex justify-content-around flex-wrap">
                <!-- single contact -->
                <div class="text-capitalize text-green">
                    <span class="footer-icon mr-2">
                        <i class="fas fa-map"></i>
                    </span>
                    23 Moira Street, Cardiff CF24 0EQ
                </div>
                <!-- end of single contact -->
                <!-- single contact -->
                <div class="text-capitalize text-green">
                    <span class="footer-icon mr-2">
                        <i class="fas fa-phone"></i>
                    </span>
                    phone : + (44) 744 619 3908
                </div>
                <!-- end of single contact -->
                <!-- single contact -->
                <div class="text-lowercase text-green">
                    <span class="footer-icon mr-2">
                        <i class="fas fa-envelope"></i>
                    </span>
                    email : seakou2@email.com
                </div>
                <!-- end of single contact -->
            </div>
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 text-green">
                <p>&copy; @DateTime.Now.Year <img src="~/images/logo.png" width="50px" height="40px" id="logo-footer" />Classic Beautifier</p>
            </div>
            <!-- Copyright -->

        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
        <script src="~/js/jquery.timepicker.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
        <script src="~/js/jquery.timepicker.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
