﻿@model HairExpress.Models.ViewModel.AppointmentDetailsViewModel
@using HairExpress.Extensions
@using HairExpress.Utility
    ViewData["Title"] = "Details";
}
<br />
<h2 class="text-info">Edit Appointment</h2>
<div class="p-4 border rounded row">
    <div class="col-6">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointments.CustomerName"></label>
            </div>
            <div class="col-8">
                <input asp-for="Appointments.CustomerName" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointments.CustomerEmail"></label>
            </div>
            <div class="col-8">
                <input asp-for="Appointments.CustomerEmail" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointments.AppointmentDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="Appointments.AppointmentDate" disabled id="datepicker" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointments.AppointmentTime"></label>
            </div>
            <div class="col-8">
                <input asp-for="Appointments.AppointmentTime" disabled type="text" id="timepicker" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointments.CustomerPhoneNumber"></label>
            </div>
            <div class="col-8">
                <input asp-for="Appointments.CustomerPhoneNumber" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointments.HairDresser"></label>
            </div>
            <div class="col-8">
                @if (User.IsInRole(SD.AdminEndUser))
                {
                    <input asp-for="@Model.Appointments.HairDresser.Name" disabled class="form-control" />
                    <input asp-for="@Model.Appointments.HairDresserId" hidden />

                }
                else
                {
                    <select asp-for="@Model.Appointments.HairDresserId" disabled asp-items="Model.HairDresser.ToSelectListItemString(Model.Appointments.HairDresserId)" class="form-control"></select>

                }
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointments.IsConfirmed"></label>
            </div>
            <div class="col-8">
                <input asp-for="Appointments.IsConfirmed" disabled class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-6">
        @* Partial View *@
        <partial name="~/Views/Shared/_AppointmentProductDetails.cshtml" model="Model.Products" />
    </div>

    <br />
    <div class="form-group">
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>

@section Scripts{

    <script>
$(document).ready(function () {
            var appointmentTime = document.getElementById('datepicker').value;
            var splitData = "";
            if (appointmentTime.indexOf(" ") > 0) {
                splitData = appointmentTime.split(" ");

            }
            else {
                splitData = appointmentTime.split("T");

            }

            var time = splitData[1].substring(0, 5);
            if (time.slice(-1) == ":") {
                time = time.substring(0, time.length - 1);

            }
            var amPmTime = splitData[2];
            $('#datepicker').attr('value', splitData[0]);
            $('#timepicker').attr('value', time + ' ' + amPmTime);

        });</script>
}