﻿@model HairExpress.Models.ViewModel.AppointmentDetailsViewModel
@using HairExpress.Extensions
@using HairExpress.Utility


<h2 class="text-info">Edit Appointment</h2>
<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Appointments.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-6">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.CustomerName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointments.CustomerName" class="form-control" />
                </div>
                <span asp-validation-for="Appointments.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.CustomerEmail"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointments.CustomerEmail" class="form-control" />
                </div>
                <span asp-validation-for="Appointments.CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.AppointmentDate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointments.AppointmentDate" id="datepicker" type="text" class="form-control" />
                </div>
                <span asp-validation-for="Appointments.AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.AppointmentTime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointments.AppointmentTime" id="timepicker" type="text" class="timepicker form-control" />
                </div>
                <span asp-validation-for="Appointments.AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.CustomerPhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointments.CustomerPhoneNumber" class="form-control" />
                </div>
                <span asp-validation-for="Appointments.CustomerPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.HairDresser"></label>
                </div>
                <div class="col-8">
                    @if (User.IsInRole(SD.AdminEndUser))
                    {
                        <input asp-for="@Model.Appointments.HairDresser.Name" readonly class="form-control" />
                        <input asp-for="@Model.Appointments.HairDresserId" hidden />

                    }
                    else
                    {
                        <select asp-for="@Model.Appointments.HairDresserId" asp-items="Model.HairDresser.ToSelectListItemString(Model.Appointments.HairDresserId)" class="form-control"></select>

                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.IsConfirmed"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointments.IsConfirmed" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-6">
            @* Partial View *@
            <partial name="~/Views/Shared/_AppointmentProductDetails.cshtml" model="Model.Products" />
        </div>

        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
$('.timepicker').timepicker({
            //timeFormat: 'h:mm p',
            //interval: 30,
            //minTime: '10',
            //maxTime: '3:00pm',
            //startTime: '10:00',
            //dynamic: true,
            //dropdown: true,
            //scrollbar: true
    timeFormat: 'HH:mm',
    minTime: '08:30',
    maxHour: 20,
    maxMinutes: 30,
    interval: 30,
    dynamic: true,
    dropdown: true,
    scrollbar: true
        });

        $(function () {
            $("#datepicker").datepicker({
                minDate: +1, maxDate: "+3M",
                dateFormat: 'dd-mm-yy'
            });
        });

        $(document).ready(function () {
            var appointmentTime = document.getElementById('datepicker').value;
            var splitData = "";
            if (appointmentTime.indexOf(" ") > 0) {
                splitData = appointmentTime.split(" ");

            }
            else {
                splitData = appointmentTime.split("T");

            }

            var time = splitData[1].substring(0, 5);
            if (time.slice(-1) == ":") {
                time = time.substring(0, time.length - 1);

            }
            var amPmTime = splitData[2];
            $('#datepicker').attr('value', splitData[0]);
            $('#timepicker').attr('value', time + ' ' + amPmTime);

        });</script>
}