﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <section>
                <div class="card-body">
                    <form method="post">
                        <div class="card-header">
                            <h4>Log In</h4>
                        </div>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-group form-group">
                            <input asp-for="Input.Email" placeholder="email" class="form-control" />
                            <span asp-validation-for="Input.Email" class=" input-group-text text-danger"><i class="fas fa-user"></i></span>
                        </div>

                        <div class="input-group form-group">
                            <input asp-for="Input.Password" placeholder="Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class=" input-group-text text-danger"><i class="fas fa-key"></i></span>
                        </div>


                        <div class=" row align-items-center remember form-group form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" login_btn btn btn-default">Log in</button>
                        </div>

                        <div class="card-footer">
                            <div class="d-flex justify-content-end links">
                                Don't have an account?<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a>
                            </div>
                            <div class="d-flex justify-content-center">
                                <a asp-page="./ForgotPassword">Forgot your password?</a>
                            </div>
                        </div>

                    </form>
                </div>
            </section>
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

