﻿@model HairExpress.Models.Product
@using HairExpress.Extensions
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<br />
<h2 class="text-info">Hair Style Details</h2>
<form method="post">
    <div class="p-4 border rounded row">
        <div class="col-8">
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <label asp-for="ShadeColor"></label>
                </div>
                <div class="col-sm-10">
                    <input asp-for="ShadeColor" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-sm-10">
                    <input asp-for="Price" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <label asp-for="HairTypes"></label>
                </div>
                <div class="col-sm-10">
                    <input asp-for="HairTypes.Name" class="form-control" readonly />
                </div>
            </div>
            @if (!Model.SpecialOffers.Name.Equals("--None--"))
            {
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <label asp-for="SpecialOffers"></label>
                </div>
                <div class="col-sm-10">
                    <input asp-for="SpecialOffers.Name" class="form-control" readonly />
                </div>
            </div>
            }


            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                </div>
                <div class="col-sm-10">
                    @{
                        bool isInBag = false;
                        List<Guid> lstCart = HttpContextAccessor.HttpContext.Session.Get<List<Guid>>("ssShoppingCart");
                        if (lstCart != null && lstCart.Contains(Model.Id))
                        {
                            isInBag = true;

                        }
                    }
                    @if (isInBag)
                    {
                    <button type="submit" value="Remove From Bag" asp-action="remove" asp-route-id="@Model.Id" class="btn btn-danger form-control">Remove from basket</button>

                    }
                    else
                    {
                    <button type="submit" value="Add to Bag" asp-route-id="@Model.Id" class="btn btn-primary form-control">Add to basket</button>
                    }
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-sm-2 col-form-label">
            <img src="@Model.Image" style=" border: 1px solid blue;width:100%;height:200px" />
            <br /><br />
            @if (Model.Available)
            {
            <img src="~/images/inStock.png" width="30%" />

            }
        </div>

        <br />
        <div class="form-group">
            <input hidden asp-for="Id" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>
