﻿@model List<HairExpress.Models.Product>
<br />

<div class="container my-5">
    <div class="row">
        @foreach (var product in Model)
        {

            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                <div class="item-container card mb-4">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">
                            <label style="font-size:23px;color:steelblue;">@product.Name</label>
                        </h4>
                    </div>

                    <img class="stylepic card-img-top" src="@product.Image" alt="Card Image" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <label style="font-size:20px; color:#a51313"><b>£@product.Price</b></label>
                            </div>
                            <a asp-action="Details" asp-controller="Home" class="btn btn-success pull-right btn-outline-info" asp-route-id="@product.Id"> View Details</a>
                        </div>
                    </div>

                </div>
            </div>           

        }


    </div>
</div>
